<div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
              <img src="http://www.clker.com/cliparts/8/0/2/f/1195000049938616984package_multimedia.svg.med.png" width="100" height="50">
              <p>Movie World</p>
              </a>
            </div>
            <div class="pull-right">
              <ul>
                <li>Log in</li>
                <li>
                  <a href="#" class="btn btn-default">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main">
          <h1>About Movie World</h1>
          <p>Buy or rent from the largest selection of movies and TV episodes. Try it for 30 days absolutely free. After your free trial, it's only $9.99/month for unlimited streaming, anywhere you go.</p>
        </div>
      </div>
    </div>
    